@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&family=Poppins:wght@300;400;700&display=swap');
@import url(./styles/cabecalho.css);
@import url(./styles/banner.css);
@import url(./styles/card.css);
@import url(./styles/lancamentos.css);
@import url(./styles/vendidos.css);
@import url(./styles/visitados.css);
@import url(./styles/novidades.css);
@import url(./styles/rodape.css);

/* 
font-family: 'Josefin Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

:root {
    --azul-gradiente: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --laranja: #EB9B00;
    --cinza-escuro: #858585;
    --cinza-claro: #EBECEE;
    --branco: white;

    --fonte-quatorze: 14px;

    --font-poppins: 'Poppins';
    --font-josefin: 'Josefin Sans';

    --space-books-card: 10em;
}

.titulo {
    background: var(--branco);
    padding: 1.5rem 0 1rem 0;

    text-align: center;
    color: var(--laranja);
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

body {
    font-family: var(--font-poppins);
}

h1 {
    font-size: 36px;
    font-weight: 400px;
}

h4 {
    font-size: 18px;
    font-weight: 700;
}

h5 {
    color: var(--azul-gradiente);
    font-size: 16px;
    font-weight: 500;
}

p {
    font-size: 14px;
    font-weight: 400;
}