.banner {
    background: var(--azul-gradiente);

    display: flex;
    flex-direction: column;

    padding: 2em;
    text-align: center;
    color: white;
}

.banner__texto {
    margin: 1.5em 1em;
}

.banner__buscador{
    align-self: center;
    width: 100%;
    padding: 1em;

    background: var(--azul-gradiente);
    background-position: center;

    text-align: center;
    color: white;

    border: 1px white solid;
    border-radius: 1.5em;
}

.banner__buscador::placeholder {
    background: url(../img/Lupinha.svg) no-repeat;
    background-position: 4em 50%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    opacity: 100%;
}