.cabecalho {
    max-width: 428px;
    margin: auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.cabecalho__esquerda {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    height: 100%;
}

#marcador {
    display: none;
}

.cabecalho__esquerda___cor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

.cabecalho__gaveta {
    padding: 12px 18px;
    background: url(../img/Menu.svg) center / contain no-repeat;
    background-position: 0 70%;
}

.cabecalho__gaveta___aberta {
    display: none;
    position: absolute;
    top: 100%;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    font-family: var(--font-poppins);
}

#marcador:checked
+.cabecalho__esquerda___cor {
    background: var(--azul-gradiente);
}

#marcador:checked
+.cabecalho__esquerda___cor
>.cabecalho__gaveta {
    background: url(../img/Menu_Aberto.svg);
}

#marcador:checked 
~.cabecalho__gaveta___aberta {
    display: flex;
    flex-flow: column nowrap;
    z-index: 11;
}

.cabecalho__gaveta___item {
    display: flex;
    align-items: center;
    background: var(--branco);
    text-align: left;
}

.cabecalho__gaveta___categorias {
    color: var(--laranja);
    font-weight: 700;
    line-height: 24px;
    
    width: 300px;
    height: 64px;
    padding-left: 24px;
    padding-top: 24px;
    box-sizing: border-box;
}

.cabecalho__gaveta___link {
    width: 300px;
    height: 64px;
    padding-left: 24px;
    padding-top: 24px;
    box-sizing: border-box;

    box-sizing: border-box;
    -webkit-background-clip: text;
    background-clip: text;
}

.cabecalho__gaveta___link:hover {
    color: var(--branco);
    background: var(--azul-gradiente);
}

.cabecalho__opcoes {
    display: flex;
    margin-right: 1.5rem;
    align-items: center;
    gap: 2rem;
}