
.card {
    --tamanho-170: 170px;

    max-width: 390px;
    background: var(--branco);
    margin: 1rem auto;
    padding: 1.5rem 1rem;

    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Parte Cima */

.card__cima {
    display: flex;
    margin-bottom: 0.5rem;
}

.card__cima___estrelas {
    padding: 10px 10px;
    background: url(../img/Estrelinhas.png) no-repeat;
}

.card__cima___texto {
    color: var(--azul-gradiente);
    display: flex;
    flex-direction: column;
}

.card__cima___texto h2 {
    color: var(--laranja);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.card__cima___texto h1 {
    margin: 0.5rem 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.card__cima___texto h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.card__cima___img {
    width: var(--tamanho-170);
    height: var(--tamanho-170);
    margin-left: 1rem;
    margin-bottom: 1rem;
}

/* Card Baixo */

.card__baixo {
    display: flex;
    justify-content: space-between;
}

.card__baixo___icones {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__baixo___link:first-child {
    margin-right: 2rem;
}

.card__baixo___botao {
    background: transparent;
    border: none;
    box-sizing: content-box;
    padding: 0;
}

.card__baixo___botao a {
    display: block;
    padding: 1rem 2rem;
    text-align: center;
    background: var(--laranja);

    color: var(--branco);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

@media screen and (min-width: 1024px) {
    .card {
        max-width: 588px;
        margin-top: 4rem;
    }
}

@media screen and (min-width: 1724px) {
    .card {
        margin-top: 2rem;
        margin-right: var(--tamanho-laterais-lancamento);
        box-sizing: content-box;
    }
    
    .card__cima___texto h2 {
        font-size: 32px;
        line-height: 48px;
    }

    .card__cima___texto h3 {
        font-size: 16px;
        line-height: 24px;
    }

    .card__cima___img {
        margin-left: 4rem;
    }
}