.lancamentos {
    background: var(--cinza-claro);
    padding-bottom: 1em;
}

.lancamentos__titulo {
    padding: 2em 0 1em 0;
    background-color: white;

    text-align: center;
    color: var(--laranja);
}

#swiper-pagination{
    position: initial;
    margin: 1em 0;
}

.swiper {
    width: 100%;
    padding: 0 2em;
}

#swiper-button-prev,
#swiper-button-next {
    display: none;
}

.swiper-slide img {
    width: 100%;
}

.card {
    max-width: 380px;
    background-color: white;
    display: flex;
    margin: 1.5em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card__coluna-um-titulo {
    font-weight: 700;
    color: var(--laranja);
}

.card__coluna-um-subtitulo {
    color: var(--azul-gradiente);
    margin: 1em 0;
}

.card__opcoes {
    display: flex;

    margin-top: 1.5em;
}

.card__opcoes__img {
    margin: 0 0.8em;
}

.card__coluna-dois {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.9em;
}

.card__botao {
    padding: 1em;
    border: none;
    background: var(--laranja);
    margin-top: 1em;

    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .lancamentos {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .lancamentos__titulo {
        width: 100%;
        font-size: 1.6em;
    }

    .swiper {
        width: 70%;
    }

    .swiper-button-prev {
        top: 36%;
        left: 11%;
    }

    #swiper-button-prev,
    #swiper-button-next {
        display: block;
    }

    #swiper-button-prev,
    #swiper-button-next {
        top: 36%;
    }

    #swiper-button-prev {
        left: 10%;
    }

    #swiper-button-next {
        right: 10%;
    }

    .card {
        max-width: 588px;
    }

    .card__opcoes {
        margin-top: 6em;
    }

    .card__coluna-dois {
        margin-left: 6.7em;
    }
}