.novidades {
    max-width: 428px;
    color: var(--azul-gradiente);
    padding: 1rem;
    margin: auto;
}

.novidades__titulo {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.novidades__texto {
    margin: 1rem 0;

    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
}

.novidades__email {
    width: 100%;
    padding: 1rem 3.5rem;
    background: url(../img/cartinha.svg) no-repeat;
    background-position: 30px 50%;

    box-sizing: border-box;
    border: blue solid 1px;
    border-color: var(--azul-gradiente);
    border-radius: 24px;
}

.novidades__email::placeholder, .novidades__email {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    opacity: 100%;
}