.swiper {
    width: 100%;
    max-width: 428px;
}

.swiper-pagination {
    position: initial;
    margin: 1rem 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

@media screen and (min-width: 1024px) {
    .swiper {
        max-width: 724px;
    }

    .swiper-pagination {
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: 1724px) {
    .swiper{
        margin-left: var(--tamanho-laterais-lancamento);
    }

    .swiper-pagination {
        margin-bottom: 2rem;
    }
}