.swiper {
    width: 100%;
    max-width: 428px;
}

.swiper-pagination {
    position: initial;
    margin: 1rem 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}