.visitados__titulo,
.visitados__opcoes {
    max-width: 428px;
    margin: auto;
}

.visitados {
    background: var(--azul-gradiente);
    padding: 2.5rem 0;
}

.visitados__titulo {
    padding-bottom: 2rem;
    
    color: var(--branco);
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

.visitados__opcoes {
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;

    gap: 1rem;
}

.visitados__opcoes___item {
    box-sizing: content-box;
}

.visitados__opcoes___link {
    background-color: var(--laranja);
    padding: 16px 24px;

    color: var(--branco);
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}

@media screen and (min-width: 1024px) {
    .visitados__titulo,
    .visitados__opcoes {
        max-width: 490px;
    }

    .visitados__opcoes {
        height: 90px;
        justify-content: space-between;
    }

    .visitados__titulo {
        font-size: 24px;
        line-height: 36px;
    }

    .visitados__opcoes___item:nth-child(1) {
        order: -5;
    }

    .visitados__opcoes___item:nth-child(1) {
        order: 1;
    }

    .visitados__opcoes___item:nth-child(7) {
        order: -4;
    }
}